h1 {
     text-align: center;
    font-size: 60px;
    color: #300a02;
}

.container {
    display: flex;
  gap: 20px;
}
.column1 {
  flex: 1;
  padding: 20px;
  border-color: #690964;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(12, 7, 56, 0.1);
  background-color: #9b76d681;
}
.column2 {
  flex: 1;
  padding: 20px;
  border-color: #b80eaf;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(12, 7, 56, 0.1);
background-color: #9b76d681;
}


   table {
      width: 70%;
      border-collapse: collapse;
    }

    table th, table td {
      padding: 10px;
      text-align: left;
    }

    table th {
      background-color: #764ba2;
      color: #fff;
      font-size: 18px;
      border-radius: 10px;
    }
    .check-list {
  list-style: none; 
}

.check-list li::before {
  content: "✔️ "; 
  color: rgb(97, 7, 116);
  font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 32px;
    color: #764ba2; 
}

.container2 {
    display: flex;
  gap: 20px;
  flex: 1;
  padding: 20px;
  border-color: #690964;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(12, 7, 56, 0.1);
background-color: #9b76d681;
}

#link_to_pages {
   flex: 1;
  padding: 20px;
 
}

#contactbody {
    background-image: url(../Photos/contactsbg.jpg);
}